<% provide(:title, 'Log in') %>
<h1>Log in</h1>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => 'bg-danger alert' %>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
          <%= f.submit 'Log in', class: 'btn btn-primary form-control' %>
    <% end %>
    <br>
    <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
  </div>
</div>