<% if logged_in? %>
    <script type="text/javascript">
        window.location.href = "/"
    </script>
<% end %>
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert bg-danger">
        The form contains <%= pluralize(@user.errors.count, 'error') %>.
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li class="text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :user, :url => {:action => 'create'} do |f| %>
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :user_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :user_email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :confirmation, 'Confirmation' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit 'Create my account', class: 'btn btn-primary form-control' %>
    <% end %>
  </div>
</div>