<p>
<h2><%= @user.user_name %></h2>
<strong>Builds Created:</strong>
<ul>
<% @user.build_infos.each do |build| %>
    <li>
      <img class="fixed-icon" title="<%= build.race.race_name %>" src="<%= asset_path build.race.race_image %>"/>
      v
      <img class="fixed-icon" title="<%= build.versus_race.race_name %>" src="<%= asset_path build.versus_race.race_image %>"/>
      <%= link_to build.name, build_info_path(build) %>

      <span class="glyphicon glyphicon-triangle-right"></span>

      <%= pluralize(build.rating, 'point') %>
      <small> <%= build.rating > 0 ? (build.upvotes/(build.upvotes+build.downvotes)*100) : 0 %>
        %
      </small>
    </li>
<% end %>
</ul>
</p>