<% if !logged_in? %>
    <div class="jumbotron">
      <span title="Hide" class="glyphicon glyphicon-collapse-up hide-jumbotron"></span>

      <div class="container">


        <h1>Welcome to builder</h1>

        <p>Builder is a Starcraft builds community. Sign Up to submit new builds or to vote on existing builds.</p>

        <p><a class="btn btn-primary btn-lg" href="<%= signup_path %>" role="button">Sign Up &raquo;</a></p>
      </div>
    </div>
<% end %>
<table class="table table-hover" id="build-info-table">
  <thead>
  <th>Race</th>
  <th>Type</th>
  <th>Versus</th>
  <th>Name</th>
  <th>Rating</th>
  <th>Key Units</th>
  <th>Expansion</th>
  <th>Difficulty</th>
  <th>Created</th>
  <th>Creator</th>
  </thead>
  <tbody>
  <% @build_infos.each do |build| %>
      <tr>
        <td>
          <a href="<%= build.to_param %>">
            <img title="<%= build.race.race_name %>" src="<%= asset_path build.race.race_image %>"/>
            <span class="hidden">race:<%= build.race.race_name %></span>
          </a>
        </td>
        <td>
          <a href="<%= build_info_path(build) %>">
            <%= build.build_type.type_name %>
          </a>
        </td>
        <td>
          <a href="<%= build_info_path(build) %>">
            <img title="<%= build.versus_race.race_name %>" src="<%= asset_path build.versus_race.race_image %>"/>
            <span class="hidden">versus:<%= build.versus_race.race_name %></span>
          </a>
        </td>
        <td>
          <a href="<%= build_info_path(build) %>">
            <%= build.name %>
          </a>
        </td>
        <td>
          <a href="<%= build_info_path(build) %>">
            <%= build.rating %>
          </a>
        </td>
        <td>
          <a href="<%= build_info_path(build) %>">
            <% build.units.each do |unit| %>
                <img title="<%= unit.unit_name %>" src="<%= asset_path unit.unit_image %>"/>
                <span class="hidden"><%= unit.unit_name %></span>
            <% end %>
          </a>
        </td>
        <td>
          <a href="<%= build_info_path(build) %>">
            <img title="<%= build.expansion.expansion_name %>" src="<%= asset_path build.expansion.expansion_image %>"/>
            <span class="hidden"><%= build.expansion.expansion_name %></span>
          </a>
        </td>
        <td><a href="<%= build_info_path(build) %>"><%= build.difficulty.difficulty_name %></a></td>
        <td><a href="<%= build_info_path(build) %>"><%= build.created.strftime('%d/%m/%Y %I:%M%p') %></a></td>
        <td><a href="<%= build_info_path(build) %>"><%= build.user.user_name %></a></td>
      </tr>
  <% end %>
  </tbody>
</table>
