<%
   # workout the users current votes
   if !@build_info.user_vote.nil?
     upvote = @build_info.user_vote.upvote
     downvote = @build_info.user_vote.downvote
   end
%>
<h2><%= @build_info.name %>
  <small class="noselect" title="Votes are calculated every 5 minutes">
    <% if logged_in? %>
        <a href="../upvote/<%= @build_info.to_param %>" class="glyphicon glyphicon-arrow-up vote <%= 'selected-vote' if upvote %>"></a>
        <a href="../downvote/<%= @build_info.to_param %>" class="glyphicon glyphicon-arrow-down vote <%= 'selected-vote' if downvote %>"></a>
    <% else %>
        <%= link_to 'Sign up to vote now!', signup_path %>
    <% end %>
  </small>
</h2>

<div class="build-info">
  <h4><%= pluralize(@build_info.rating, 'point') %>
    <small> <%= @build_info.rating > 0 ? (@build_info.upvotes/(@build_info.upvotes+@build_info.downvotes)*100) : 0 %>
      %
    </small>
  </h4>
  <table class="table">
    <tr>
      <td><strong>Matchup:</strong></td>
      <td>
        <img title="<%= @build_info.race.race_name %>" src="<%= asset_path @build_info.race.race_image %>"/>
        v
        <img title="<%= @build_info.versus_race.race_name %>" src="<%= asset_path @build_info.versus_race.race_image %>"/>
      </td>
    </tr>
    <tr>
      <td><strong>Build Type:</strong></td>
      <td>
        <%= @build_info.build_type.type_name %>
      </td>
    </tr>
    <tr>
      <td><strong>Difficulty:</strong></td>
      <td>
        <%= @build_info.difficulty.difficulty_name %>
      </td>
    </tr>
    <tr>
      <td><strong>Key Units:</strong></td>
      <td>
        <% @build_info.units.each do |unit| %>
            <img src="<%= asset_path unit.unit_image %>"/><%= unit.unit_name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Expansion:</strong></td>
      <td>
        <img src="<%= asset_path @build_info.expansion.expansion_image %>"/>
        <span><%= @build_info.expansion.expansion_name %></span>
      </td>
    </tr>
    <tr>
      <td><strong>Created:</strong></td>
      <td>
        <%= @build_info.created.strftime('%d/%m/%Y %I:%M%p') %>
      </td>
    </tr>
    <tr>
      <td><strong>Created by:</strong></td>
      <td>
        <%= link_to @build_info.user.user_name, user_path(@build_info.user) %>
      </td>
    </tr>
  </table>
  <h3>Build Steps</h3>
  <table>
    <% @build_info.build_steps.each do |step| %>
        <tr>
          <td><%= step.step %></td>
        </tr>
    <% end %>
  </table>
  <h3>Build Guide</h3>

  <p class="guide">
    <% if !@build_info.build_guide.nil? %>
        <%= @build_info.build_guide.guide.html_safe %>
    <% end %>
  </p>
</div>
