/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-theme
 *= require bootstrap
 *= require builder
 *= require dataTables
 *= require qtip
 */

.build-info {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#build-info-table {
    border: none;
}

#build-info-table, th {
    text-align: center;
    border: none;
}

#build-info-table tr td a {
    display: block;
    height: 100%;
    width: 100%;
    color: #080808;
    border: none;
}

#build-info-table tr td a:hover {
    text-decoration: none;
}

.fixed-icon {
    display: inline-block;
    width: 15px;
}

.page-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #204d74;
    -webkit-font-smoothing: antialiased;
}

.navbar-brand > img {
    display: inline-block;
    width: 40px;
    margin: -10px;
}

.jumbotron {
    position: relative;
}

.hide-jumbotron {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.field_with_errors input {
    border: 1px solid #d9534f;
}

.alert {
    margin-top: 10px;
}

.vote {
    color: #454545;
    cursor: pointer;
}

.vote:hover {
    text-decoration: none;
    color: #d58512;
}

.selected-vote {
    color: #d58512;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

small form {
    display: inline-block;
}

.beta {
    margin-top: 30px;
    display: inline-block;
    position: absolute;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    width: 30px;
    background-color: #730E15;
    text-align: center;
    color: #ffffff;
    font-family: "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    text-shadow: 1px 1px #0c0c0c;
    font-size: 10px;
    border-radius: 5px 5px 0px 0px;
}

body {
    background: url("../assets/background.jpg") no-repeat fixed right;
}

#build-info-table {
    background-color: transparent;
}

#build-info-table tbody {
    background-color: transparent;
}

#build-info-table tr {
    background-color: transparent;
}

#build-info-table tr:hover {
    background-color: #eee;
    background-color: rgba(238,238,238,0.8);
}

.jumbotron {
    background-color: #eee;
    background-color: rgba(238,238,238,0.8);
    padding: 0px;
}