body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.pointer-mouse {
    cursor: pointer;
}

#build-info-table_wrapper {
    margin-top: 15px;
}

.build-info {
    display: block;
    position: relative;
    padding: 15px 15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
}

.build-info tr td {
    vertical-align: middle;
}

.inline-button {
    display: inline-block;

}

.v-error {
    visibility: hidden;
    display: none;
}

.user-link {
    text-align: right;
    margin-right: 20px;
    display:block;
    height: 30px;
    vertical-align: middle;
    margin-top: 8px;
}

.user-link:hover {
    text-decoration: none;
}
